@tailwind base;
@tailwind components;
@tailwind utilities;
/* .ag-theme-quartz {
    --ag-foreground-color: rgb(126, 46, 132);
    --ag-background-color: rgb(249, 245, 227);
    --ag-header-foreground-color: rgb(204, 245, 172);
    --ag-header-background-color: rgb(209, 64, 129);
    --ag-odd-row-background-color: rgb(0, 0, 0, 0.03);
    --ag-header-column-resize-handle-color: rgb(126, 46, 132);

    --ag-font-size: 17px;
    --ag-font-family: monospace;
} */
 /* Global scrollbar styles */
@layer components {
  .custom-scrollbar {
    @apply overflow-y-auto max-h-64;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #0c0c0c;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #060606;
  }
   
}

@layer base {
  html, body {
    overflow-y: scroll; /* Always show the vertical scrollbar */
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #fffefe;
  }

  ::-webkit-scrollbar-thumb {
    background: #cfcece;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #050505;
  }

  /* For Firefox */
  /* html {
    scrollbar-width: thin;
    scrollbar-color: #3b82f6 #f1f1f1;
  } */
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color:white !important;
    color: #0c0c0c;
    font-size: 0.77rem !important;
    line-height: 1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.Toastify__toast-container {
  z-index: 99999 !important;
  pointer-events: all !important;
  opacity: 1 !important;
  visibility: visible !important;
}
.toastify {
  z-index: 999999 !important;
  pointer-events: all !important;
  opacity: 1 !important;
  visibility: visible !important;
}
@media (min-width: 640px) {
.linesettings{
  line-height: 0.8 !important;
}
}

/* Medium screens (≥768px) */
@media (min-width: 768px) {
.linesettings{
  line-height: 0.9 !important;
}
}
